
<h2>・予約しました</h2>
<th>・予約した名前</th><br>
<%= @room.room_name %><br>
<th>・開始日</th><br>
<%= @reservation.start_date %><br>
<th>・終了日</th><br>
<%= @reservation.end_date %><br>
<th>・価格</th><br>
<%= @reservation.total_price %><br>