<table>
<thead>
<tr>
<th>ルーム画像</th>
<th>ルーム名</th>
<th>場所</th>
<th>料金</th>
</tr>
<tbody>
 <% @room.each do |room| %>
<tr>
<td><% if room.image.attached? %>
 <%= image_tag room.image ,size: "300x250" %>
<% end %></td>
<td><%= room.room_name %></td>
<td>  <%= room.address %></td>
<td> <%= room.price %> </td>
<% end %>
</tbody>
</thead>
</table>