a :hover {
    color: skyblue;
  }
.head{
list-style:none

}

.list_navi{
  list-style:none
 
}

.color{
  background-color: #1c1d3b;
  height: 60px;
  align-items: center;
  isplay: flex;
  padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  padding-left: 10px;

}
.row{
  display: flex;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 0px;
  
}